[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
python-dotenv = "*"
flask-mongoengine = "*"
flask-security = "*"
werkzeug = "*"
flask-restx = "*"

[dev-packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
